{% extends "manage.html" %}
{% block title %}
    <title>编辑任务</title>
{% endblock %}
{% block manage %}
<div class="card flex-fill">
    <div class="card-header">
        <h5 class="card-title mb-0" style="float:left">编辑任务</h5>
    </div>
    <div id="datatables-dashboard-traffic_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-sm-12 col-md-6"></div>
            <div class="col-sm-12 col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div style="margin-left: 20px;margin-right: 20px; width: 97%">
                <div class="input-group option">
                    <span class="input-group-addon option-tile">名称：</span>
                    <input id="task_name" type="text" class="form-control">
                </div>
                <br>

                <div class="input-group option">
                    <span class="input-group-addon option-tile">描述：</span>
                    <textarea id="task_desc" class="form-control" rows="3" name=textarea></textarea>
                </div>
                <br>

                <div class="input-group option">
                    <span class="input-group-addon option-tile">用例：</span>
                    <div class="card" style="width: 50%">
                        <div class="card-body">
                            <ul id="treeDemo" class="ztree"></ul>
                        </div>
                    </div>
                </div>
                <br>

                <button type="submit" class="btn btn-primary" onclick="update_task()">更新</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="/static/css/bootstrapStyle.css">
<script src="/static/js/jquery.ztree.core.js"></script>
<script src="/static/js/jquery.ztree.excheck.js"></script>
<script src="/static/js/jquery.ztree.exedit.js"></script>
<script>
// 获取用例树
var url = window.location.href;
var tid = url.split('/')[5];
var setting = {
            view: {
                addHoverDom: false,
                removeHoverDom: false,
                selectedMulti: false
            },
            check: {
                enable: true,
                chkStyle: "checkbox",
                idKey: "id",
                pIdKey: "pId",
                chkboxType: {"Y": "ps", "N": "ps"}
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            edit: {
                enable: true
            }
        };
        var zNodes;
        $(document).ready(function(){
            $.post("/task/get_case_node/",{
                task_id:tid
            }, function (resp) {
                zNodes = resp.data.data;
                document.querySelector("#task_name").value = resp.data.taskName;
                document.querySelector("#task_desc").value = resp.data.taskDesc;
                $.fn.zTree.init($("#treeDemo"), setting, zNodes);
            });

        });

    // 更新任务
    function update_task() {
        task_name = $('#task_name').val();
        task_desc = $('#task_desc').val();

        var zTreeObj = $.fn.zTree.getZTreeObj("treeDemo");
        var nodes = zTreeObj.getCheckedNodes(true);

        var cases_name = new Array();
        for (var i = 0; i < nodes.length; i++) {
            if (nodes[i].isParent == false) {
                console.log("节点id:" + nodes[i].id);
                cases_name.push(nodes[i].name);
            }
        }
        // 将列表转为字符串
        casesStr = JSON.stringify(cases_name);
        $.post("/task/save/", {
            task_id:tid,
            task_name:task_name,
            desc:task_desc,
            cases:casesStr,
        },function (resp) {
            if (resp.status == 10200) {
                alert('更新任务成功');
                window.location.href = "/task/list/"
            }
        })
    }

</script>
{% endblock %}