{% extends "manage.html" %}
{% load static %}
{% block title %}
    <title>任务管理</title>
{% endblock %}
{% block manage %}
<div class="card flex-fill">
    <div class="card-header">
        <h5 class="card-title mb-0" style="float:left">任务管理</h5>
        <button type="button" class="btn btn-primary" style="float:right"
                onclick="add()">创建</button>
    </div>
    <div id="datatables-dashboard-traffic_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-sm-12">
                <table id="datatables-dashboard-traffic" class="table table-striped my-0 dataTable no-footer"
                    role="grid" aria-describedby="datatables-dashboard-traffic_info">
                    <thead>
                        <tr role="row">
                            <th>任务名称</th>
                            <th>任务描述</th>
                            <th>任务状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in task_list %}
                        <tr role="row" class="odd">
                            <td>{{ t.name }}</td>
                            <td>{{ t.describe }}</td>
                            {% if t.status == 0 %}
                                <td>未执行</td>
                            {% elif t.status == 1 %}
                                <td>执行中</td>
                            {% elif t.status == 2 %}
                                <td>已完成</td>
                            {% endif %}
                            <td>
                              <a href="/task/run/{{ t.id }}/"><button type="button" class="btn btn-success">执行</button></a>
                              <a href="{% url "app_task:task_edit" t.id %}"><button class="btn btn-primary">修改</button></a>
                              <a href="/task/report/{{ t.id }}/"><button class="btn btn-danger">报告</button></a>
                              <button onclick="del({{ t.id }})" type="button" class="btn btn-secondary">删除</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- 翻页功能 -->
    <div style="float: right">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
          <div id="number-data" style="margin: 10px;margin-right: 30px;">
                共 {{ task_list.paginator.num_pages }} 页，{{ task_list.paginator.count }} 条数据
          </div>
            {% if task_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ task_list.previous_page_number }}">上一页</a>
                </li>
            {% endif %}
                <li class="page-item">
                    <a class="page-link" href="">{{ task_list.number }}</a>
                </li>
            {% if task_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ task_list.next_page_number }}">下一页</a>
                </li>
            {% endif %}
          </ul>
        </nav>
    </div>

<style type="text/css">
    table{table-layout: fixed;word-break: break-all; word-wrap: break-word;}
    {#table{width:100%;border:1px solid #999;}table td{word-break: keep-all;white-space:nowrap;}#}

</style>
<script src="https://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">

    function add() {
        window.location.href = "{% url "app_task:task_add" %}";
    }


    function del(tid) {
        var url = window.location.href;
        if (confirm("确定要删除该任务吗？")) {
            $.post("/task/delete/", {
                task_id:tid,
            },function (resp) {
                if (resp.status == 10200) {
                    alert("删除任务成功")
                    window.location.href = "/task/list/"
                };
            })
        }else{
            return false
        }
    }


</script>
{% endblock %}

