{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='{% static "css/robust.css" %}' type='text/css' />
    <link rel='stylesheet' href='{% static "css/classic.css" %}' type='text/css' />

    <script src="/static/js/manage.js"></script>
    <script src="/static/js/jquery-3.4.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <link rel="stylesheet" href="/static/css/jquery.jsonview.css">
    <script src="/static/js/jquery.jsonview.js"></script>
    <link href="/static/css/jsoneditor.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jsoneditor/5.32.5/jsoneditor.js"></script>

{% block title %}
    <title>首页</title>
{% endblock %}
</head>
<body>
{% block base %}
    <!-- 所有的HTML都继承这个页面 -->
{% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
    // 初始化下拉框
    SelectInit();
</script>
</html>