{% extends "manage.html" %}
{% load static %}
{% block title %}
    <title>项目管理</title>
{% endblock %}
{% block manage %}
<div class="card flex-fill">
    <div class="card-header">
        <h5 class="card-title mb-0" style="float:left">项目管理</h5>
        <button onclick="add()" type="button" class="btn btn-primary" style="float:right">创建</button>
    </div>
    <div id="datatables-dashboard-traffic_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-sm-12">
                <table id="datatables-dashboard-traffic" class="table table-striped my-0 dataTable no-footer"
                    role="grid" aria-describedby="datatables-dashboard-traffic_info">
                    <thead>
                        <tr role="row">
                            <th>id</th>
                            <th>名称</th>
                            <th>描述</th>
                            <th>状态</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in project_list %}
                        <tr role="row" class="odd">
                            <td>{{ p.id }}</td>
                            <td>{{ p.name }}</td>
                            <td>{{ p.describe }}</td>
                            <td>{{ p.status }}</td>
                            <td>{{ p.create_time |date:"Y-m-d H:i:s"}}</td>
                            <td>
                              <a href="{% url "app_project:project_edit" p.id %}"><button class="btn btn-primary">修改</button></a>
                              <button onclick="del({{ p.id }})" type="button" class="btn btn-secondary">删除</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- 翻页功能 -->
    <div style="float: right">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
          <div id="number-data" style="margin: 10px;margin-right: 30px;">
                共 {{ project_list.paginator.num_pages }} 页，{{ project_list.paginator.count }} 条数据
          </div>
            {% if project_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ project_list.previous_page_number }}">上一页</a>
                </li>
            {% endif %}
                <li class="page-item">
                    <a class="page-link" href="">{{ project_list.number }}</a>
                </li>
            {% if project_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ project_list.next_page_number }}">下一页</a>
                </li>
            {% endif %}
          </ul>

        </nav>
    </div>
<script type="text/javascript">
    function add() {
        window.location.href = "{% url "app_project:project_add" %}"
    }

    function del(pid) {
        var url = window.location.href;
        if (confirm("确定要删除该项目吗？")) {
            $.post("/project/delete/", {
                pid:pid
            },function () {
                return true
            })
        } else {
            return false
        }
        window.location.href = url
    }
</script>
{% endblock %}

